<p>Pessoa:</p>

<form method="post" action="<%= pessoas_new_path	 %>">

  <label for="nome">NOME:</label><br>
  <input type="text" id="nome" name="nome"><br>
  <label for="idade">IDADE:</label><br>
  <input type="number" id="idade" name="idade"><br>
  <label for="email">EMAIL:</label><br>
  <input type="text" id="email" name="email"><br>
  <br>
  <input type="submit" value="enviar"/>
</form>
